<h4>Robot Control Settings</h4>
<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label">Servo 1 min</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.servo1Min"></textarea>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Servo 2 min</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.servo2Min"></textarea>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Servo 3 min</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.servo3Min"></textarea>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Servo 4 min</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.servo4Min"></textarea>
        </div>
    </div>
    
     <div class="control-group">
        <label class="control-label">Servo 1 max</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.servo1Max"></textarea>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Servo 2 max</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.servo2Max"></textarea>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Servo 3 max</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.servo3Max"></textarea>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Servo 4 max</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.servo4Max"></textarea>
        </div>
    </div>
   
    <div class="control-group">
        <label class="control-label">address</label>
        <div class="controls">
            <textarea rows="1" class="input-block-level" data-bind="value: settings.plugins.robotcontrol.addr"></textarea>
        </div>
    </div>
    
    
</form>
