<form class="form-horizontal">
	
	<div id="boxes"></div>
	<div>
	<button class="btn btn-mini pull-left" style="color:blue;" data-bind="click: addServo" title="Add servo">
		<i class="fa fa-plus"></i>&nbsp;&nbsp;
	</button>
	<button class="btn btn-mini pull-left" style="color:red;" data-bind="click: removeServo" title="Reomve servo">
		<i class="fa fa-trash"></i>&nbsp;&nbsp;
	</button>
	</div>
	<div id="success"></div>
	<div id="gcode-gen" style="overflow-y:scroll; max-height:300px">
	<div>Gcodes:</div>
	</div>


</form>


