<form class="form-horizontal">
	
	<div id="boxes"></div>
	<button class="btn btn-mini pull-left" data-bind="click: addServo" title="Add servo">
		<i class="fa fa-plus"></i>&nbsp;&nbsp;
	</button>
	<div id="success"></div>
	<div id="gcode-gen" style="overflow-y:scroll; max-height:300px">
	<div>Gcodes:</div>
	</div>


</form>


